<div class="company-info" itemscope="" itemtype="http://schema.org/Organization">

    <img class="company-info__logo" alt="Логотип Бишен" title="Логотип Бишен" itemprop="logo" src="https://bishen.com.ua/img/logoBishen.gif">

    <h1 class="company-info__title" itemprop="legalName">TOB "Бишен Принт Продакшн"</h1>

    <address class="company-info__contacts">

        <div class="phoneNumbers">

            <a itemprop="telephone" class="contacts--telephone" href="tel:+380960171763">(096) 017 17 63</a>

            <span class="contacts--decore">◈</span>

            <a itemprop="telephone" class="contacts--telephone" href="tel:+380443380937">(044) 338-09-37</a>

        </div>

        <span class="contacts--decore">|</span>

        <div itemprop="email" class="email">irina@bishen.com.ua</div>

        <span class="contacts--decore">|</span>

        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="adress">

            <span itemprop="streetAddress">ул. Семьи Хохловых, 15</span>,

            <span itemprop="addressLocality">Киев</span>,

            <span itemprop="addressCountry">Украина</span>

        </div>

    </address>

            <!-- Corners -->
            <div class="downLeftCorner"></div>
            <div class="topLeftCorner"></div>
            <div class="downRightCorner"></div>
            <!-- -->
</div>